<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czy.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.czy.demo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.czy.demo.activity.RuleActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.czy.demo.activity.HeartActivity" />
        <activity android:name="com.czy.demo.activity.IntroductionActivity" />
        <activity android:name="com.czy.demo.activity.ShakeImgActivity" />
        <activity android:name="com.czy.demo.activity.FlowLayoutActivity" />
        <activity android:name="com.czy.demo.activity.QQCardActivity"></activity>
    </application>

</manifest>